.jdl-component-sample {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: var(--jdl-spacing);
  z-index: 0;
  gap: 1rem;
  border-radius: 0.66rem;
  border: var(--jdl-border);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(at 40% 20%, hsl(312, 42%, 60%) 0, transparent 50%),
    radial-gradient(at 80% 0%, hsl(11, 100%, 56%) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsl(354, 64%, 72%) 0, transparent 50%),
    radial-gradient(at 80% 50%, hsl(319, 66%, 64%) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsl(264, 37%, 59%) 0, transparent 50%),
    radial-gradient(at 80% 100%, hsl(342, 55%, 41%) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0, transparent 50%);
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    opacity: 0.075;
  }

  &--full-width {
    align-items: unset;
  }

  &--no-bottom-padding {
    padding-bottom: 0;
  }

  * > & {
    z-index: 1;
  }

  /* Component preview styling */

  .jenkins-card {
    margin-bottom: 0;
  }

  .jenkins-form-item, .jenkins-search-container {
    margin-bottom: 0;
    min-width: 300px;
  }

  .repeated-container {
    min-width: 600px;
  }

  .jenkins-alert, .CodeMirror {
    margin-bottom: 0;
  }

  .jenkins-file-upload {
    width: unset;
  }

  .jenkins-dialog {
    position: relative;
    width: 400px;
    animation: none;
    box-shadow: var(--jdl-box-shadow);
  }
}
