.jdl-component-sample {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: var(--jdl-spacing);
  z-index: 0;
  gap: 1rem;
  border-radius: 0.66rem;
  border: var(--jenkins-border);
  background: linear-gradient(
    45deg,
    color-mix(in srgb, var(--pink) 7.5%, transparent),
    color-mix(in srgb, var(--light-indigo) 7.5%, transparent)
  );
  background-attachment: fixed;
  background-position: center;
  background-clip: padding-box;

  &--full-width {
    align-items: unset;
  }

  &--no-bottom-padding {
    padding-bottom: 0;
  }

  * > & {
    z-index: 1;
  }

  /* Component preview styling */

  & > form > div > .jenkins-section,
  & > .jenkins-section {
    border-top: none;
    padding-top: 0;
  }

  .jenkins-card {
    margin-bottom: 0;
  }

  .jenkins-form-item,
  .jenkins-search-container {
    min-width: 300px;
  }

  :nth-last-child(1 of .jenkins-form-item) {
    margin-bottom: 0;
  }

  .repeated-container {
    min-width: 600px;
  }

  .jenkins-alert,
  .CodeMirror {
    margin-bottom: 0;
  }

  .jenkins-file-upload {
    width: unset;
  }

  .jenkins-dialog {
    position: relative;
    width: 400px;
    animation: none;
    box-shadow: var(--jdl-box-shadow);
  }

  .jenkins-notice {
    margin-bottom: 0;
    width: 100%;
    max-width: 650px;
  }
}
