.jdl-component-group {
  .jdl-component-sample {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .jdl-component-code {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
