@use "../abstracts/mixins";
@use "../abstracts/symbols";

.jdl-dos-donts {
  display: flex;
  flex-direction: column;
  gap: calc(var(--jdl-spacing) * 0.5);

  thead,
  tbody {
    display: contents;
  }

  svg {
    width: 1rem;
    height: 1rem;
    translate: 0 3px;

    * {
      stroke-width: 55px !important;
    }
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--jdl-spacing) * 0.5);
  }

  thead {
    th {
      font-weight: 500;
      font-size: 1.125rem;
      text-align: left;
    }
  }

  tbody {
    td {
      @include mixins.base-text;
      display: block;
      position: relative;
      padding-left: calc(2rem + 1.5ch);

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        top: -4px;
        left: 0;
        border-radius: 100%;
      }

      &::after {
        background: var(--background);
        mask-repeat: no-repeat;
        mask-position: center;
      }

      &:first-of-type {
        &::before {
          background: var(--success-color, var(--green));
        }

        &::after {
          mask-image: symbols.$check;
          mask-size: 55%;
        }
      }

      &:not(:first-of-type) {
        &::before {
          background: var(--error-color, var(--red));
        }

        &::after {
          mask-image: symbols.$cross;
          mask-size: 60%;
        }
      }
    }
  }
}
