@use "../abstracts/mixins";

.jdl-previous-next-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-top: var(--jenkins-border);
  padding-top: var(--jdl-spacing);

  @media (min-width: 767px) {
    & > div:nth-of-type(2) {
      position: absolute;
      left: 50%;
      translate: -50% 0;
    }
  }

  .jenkins-button {
    font-size: 0.9375rem;
  }

  .jdl-previous-button,
  .jdl-next-button {
    display: flex;
    gap: 0.8rem;

    svg * {
      stroke-width: 36px;
    }

    & > * {
      transition: transform var(--elastic-transition);
    }
  }

  .jdl-previous-button {
    &:hover {
      transform: translateX(-1px);

      & > * {
        transform: translateX(-2px);
      }
    }
  }

  .jdl-next-button {
    &:hover {
      transform: translateX(1px);

      & > * {
        transform: translateX(2px);
      }
    }
  }
}
