@use "../abstracts/mixins";

.jdl-previous-next-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: var(--section-padding);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5px;
    background: var(--text-color-secondary);
    opacity: 0.1;
    border-radius: 2px;
  }

  .jdl-previous-button,
  .jdl-next-button {
    @include mixins.base-text;
    display: flex;
    gap: 0.8rem;

    & > * {
      transition: transform var(--elastic-transition);
    }

    .jdl-previous-next-controls__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 1.875rem;
      height: 1.875rem;
      background: color-mix(in srgb, var(--text-color-secondary) 7.5%, transparent);
      border: 1.5px solid color-mix(in srgb, var(--text-color-secondary) 2%, transparent);

      svg {
        width: 1rem;
        height: 1rem;

        * {
          stroke-width: 40px;
        }
      }
    }

    .jdl-previous-next-controls__arrow {
      width: 1rem;
      height: 1rem;

      * {
        stroke-width: 40px;
      }
    }
  }

  .jdl-previous-button {
    justify-items: flex-start;

    &:hover {
      transform: translateX(-1px);

      & > * {
        transform: translateX(-2px);
      }
    }
  }

  .jdl-next-button {
    justify-items: flex-end;
    margin-left: auto;

    &:hover {
      transform: translateX(1px);

      & > * {
        transform: translateX(2px);
      }
    }
  }
}
