.jdl-since-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgb(255 255 255 / 0.025);
  color: var(--text-color) !important;
  font-size: 0.75rem;
  border-radius: 100px;
  padding: 0.4rem 0.75rem;
  min-height: 0;
  white-space: nowrap;
  justify-self: center;

  &::after {
    border: var(--jdl-border);
  }

  &:hover, &:focus, &:active {
    background: transparent;
  }
}
