$jdl-component-code-controls-spacing: 0.75rem;

.jdl-component-code {
  --prism-background: var(--background);
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  margin-bottom: var(--jdl-spacing);
  z-index: 0;
  border-radius: 0.66rem;

  pre {
    background-color: var(--prism-background) !important;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: var(--prism-background);
    z-index: -1;
  }

  &__code {
    margin: 0 !important;
    padding: 0;

    code {
      line-height: 1.66 !important;
    }

    &::before, &::after {
      display: none;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $jdl-component-code-controls-spacing;
  }

  &:not(:hover) {
    .jenkins-button {
      transition: var(--standard-transition);
      opacity: 0.5;

      span {
        color: var(--text-color-secondary) !important;
      }

      &::before {
        opacity: 0;
      }
    }
  }
}
