:root {
  --jdl-spacing: var(--section-padding);
  --jdl-border-width: 1.5px;
  --jdl-border: var(--jdl-border-width) solid color-mix(in srgb, var(--text-color-secondary) 9%, transparent);

  @media (prefers-contrast: more) {
    --jdl-border: var(--jdl-border-width) solid var(--text-color);
  }
}

#main-panel {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  max-width: min(1200px, 60vw);
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;

  .tabBar {
    align-self: start;
  }

  @media (max-width: 970px) {
    max-width: none;
  }
}

code {
  font-family: var(--font-family-mono) !important;
  color: var(--text-color-secondary);
}

a {
  font-weight: inherit;
}

#side-panel .jenkins-app-bar {
  margin-top: 50px;
  margin-bottom: -10px;
}

.app-sidepanel__jenkins-logo {
  position: absolute;
  top: 130px;
  left: var(--section-padding);
  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Georgia", serif;
  color: var(--text-color-secondary);
  margin: 0;
}

.app-sidepanel__heading {
  font-size: 0.875rem;
  color: var(--text-color-secondary);
  font-weight: 450;
  margin: 1rem 0 0.25rem 0;
}
