:root {
  --jdl-spacing: 2rem;
}

#main-panel {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  max-width: min(1200px, 65vw);
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;

  .tabBar {
    align-self: start;
  }

  @media (max-width: 970px) {
    max-width: none;
  }
}

code {
  font-family: var(--font-family-mono) !important;
  color: var(--text-color-secondary);
}

hr {
  display: inline-block;
  width: 100%;
  border: none;
  height: 2px;
  background: currentColor;
  margin: 0 0 var(--jdl-spacing) 0;
  opacity: 0.05;
}

a {
  font-weight: inherit;
}

#side-panel .jenkins-app-bar {
  margin-top: 20px;
  margin-bottom: 10px;
}

.app-sidepanel__jenkins-logo {
  position: absolute;
  top: 130px;
  left: var(--section-padding);
  font-size: 0.95rem;
  font-weight: 600;
  font-family: "Georgia", serif;
  color: var(--text-color-secondary);
  margin: 0;
}
