:root {
  --jdl-spacing: var(--section-padding);
  --jdl-border-width: 1.5px;
  --jdl-border: var(--jdl-border-width) solid color-mix(in srgb, var(--text-color-secondary) 9%, var(--card-background));
  --jdl-border-translucent: var(--jdl-border-width) solid color-mix(in srgb, var(--text-color-secondary) 9%, transparent);
  --jdl-box-shadow: 0 0 0 var(--jdl-border-width) color-mix(in srgb, currentColor 5%, transparent),
  0 10px 15px rgba(0, 0, 0, 0.05);

  @media (prefers-contrast: more) {
    --jdl-border: var(--jdl-border-width) solid var(--text-color);
    --jdl-border-translucent: var(--jdl-border-width) solid var(--text-color);
    --jdl-box-shadow: 0 0 0 var(--jdl-border-width) var(--text-color);
  }
}

#main-panel {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  max-width: min(1200px, 60vw);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 970px) {
    max-width: none;
  }
}

code {
  font-family: var(--font-family-mono) !important;
  color: var(--text-color-secondary);
}

a {
  font-weight: inherit;

  code {
    color: unset;
  }
}

.app-sidepanel__heading {
  font-size: 0.875rem;
  color: var(--text-color-secondary);
  font-weight: 450;
  margin: 1rem 0 0.25rem 0;
}
