:root {
  --jdl-spacing: var(--section-padding);
}

#main-panel {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  max-width: min(1200px, 65vw);
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 50px;

  .tabBar {
    align-self: start;
  }

  @media (max-width: 970px) {
    max-width: none;
  }
}

.jdl-on-this-page {
  margin-top: 18px;
  margin-left: 1rem;
  min-width: 320px;

  .jdl-on-this-page__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: -10px 0;
    padding: 0;
    list-style-type: none;
  }
}

code {
  font-family: var(--font-family-mono) !important;
  color: var(--text-color-secondary);
}

hr {
  display: inline-block;
  width: 100%;
  border: none;
  height: 2px;
  background: currentColor;
  margin: 0 0 var(--jdl-spacing) 0;
  opacity: 0.05;
}

a {
  font-weight: inherit;
}

#side-panel .jenkins-app-bar {
  margin-bottom: 1rem;
}

.app-sidepanel__jenkins-logo {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Georgia", serif;
  color: var(--text-color-secondary);
  margin: 0;
}
