:root {
  --jdl-spacing: var(--section-padding);
  --jdl-border-translucent: var(--jenkins-border-width) solid
    color-mix(in srgb, var(--text-color-secondary) 10%, transparent);
  --jdl-box-shadow:
    0 0 0 var(--jenkins-border-width)
      color-mix(in srgb, currentColor 5%, transparent),
    0 10px 15px rgba(0, 0, 0, 0.05);

  @media (prefers-contrast: more) {
    --jdl-border-translucent: var(--jenkins-border-width) solid
      var(--text-color);
    --jdl-box-shadow: 0 0 0 var(--jenkins-border-width) var(--text-color);
  }
}

code {
  font-family: var(--font-family-mono) !important;
  color: var(--text-color-secondary);
}

a {
  font-weight: inherit;

  code {
    color: unset;
  }
}
