:root {
  --jdl-spacing: var(--section-padding);
  --jdl-border-translucent: var(--jenkins-border-width) solid
    color-mix(in srgb, var(--text-color-secondary) 9%, transparent);
  --jdl-box-shadow:
    0 0 0 var(--jenkins-border-width)
      color-mix(in srgb, currentColor 5%, transparent),
    0 10px 15px rgba(0, 0, 0, 0.05);

  @media (prefers-contrast: more) {
    --jdl-border-translucent: var(--jenkins-border-width) solid
      var(--text-color);
    --jdl-box-shadow: 0 0 0 var(--jenkins-border-width) var(--text-color);
  }
}

#main-panel {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1200px) {
    max-width: min(1200px, 60vw);
  }
}

code {
  font-family: var(--font-family-mono) !important;
  color: var(--text-color-secondary);
}

a {
  font-weight: inherit;

  code {
    color: unset;
  }
}

.app-sidepanel__heading {
  font-size: 0.875rem;
  color: var(--text-color-secondary);
  font-weight: 450;
  margin: 1rem 0 0.25rem 0;
}
