:root {
  --jdl-spacing: 2rem;
}

#main-panel {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  max-width: max(950px, 65vw);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 970px) {
   max-width: none;
  }
}

// Remove when code blocks follows user's theme
// https://github.com/jenkinsci/design-library-plugin/issues/68
pre {
  position: relative;
  margin: 0 0 var(--jdl-spacing) 0 !important;
  padding: calc(var(--jdl-spacing) / 2) !important;
  background: transparent !important;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--text-color);
    border-radius: inherit;
    opacity: 0.05;
    z-index: -1;
  }

  code {
    font-size: 1rem !important;
    text-shadow: none !important;
    color: var(--text-color) !important;

    .token.cdata, .token.comment, .token.doctype, .token.prolog {
      color: var(--text-color-secondary) !important;
    }

    .token.punctuation {
      color: var(--text-color-secondary) !important;
    }

    .token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag {
      color: var(--pink) !important;
    }

    .token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
      color: var(--green) !important;
    }

    .language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
      color: var(--brown) !important;
    }

    .token.atrule, .token.attr-value, .token.keyword {
      color: var(--cyan) !important;
    }

    .token.class-name, .token.function {
      color: var(--purple) !important;
    }
  }
}

code {
  font-family: var(--font-family-mono) !important;
}

hr {
  display: inline-block;
  width: 100%;
  border: none;
  height: 2px;
  background: currentColor;
  margin: 0 0 var(--jdl-spacing) 0;
  opacity: 0.1;
}
