/target/
/work/
.project
.classpath
.settings/
/.idea/*
!/.idea/icon.svg
!/.idea/.name
.DS_Store
*.iml
node/
node_modules/
src/main/resources/io/jenkins/plugins/designlibrary/styles.css*
.java-version
