@use "../abstracts/mixins";

.jdl-colors-tag {
  background-image: -webkit-linear-gradient(45deg, var(--red, red), var(--orange, orange), var(--yellow, yellow), var(--green, green), var(--blue, blue), var(--violet, violet), var(--red, red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-jdl-colors-tag-color 20s linear infinite;
  background-size: 400% 100%;
}

@keyframes animate-jdl-colors-tag-color {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 400% 0;
  }
}

.jdl-colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--jdl-spacing);
  list-style-type: none;
  padding: 0;
  margin-top: calc(var(--section-padding) * -0.25);
  margin-bottom: var(--section-padding);

  @media(max-width: 1300px){
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 970px){
    grid-template-columns: 1fr;
  }

  & > li {
    .jdl-colors__item {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: calc(var(--jdl-spacing) * 0.4);

      .copy-button {
        opacity: 0;
        transition: var(--standard-transition);
      }

      &:hover {
        .copy-button {
          opacity: 1;
        }
      }

      .jdl-colors__item__title {
        @include mixins.base-text;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 450;
        margin: 0;
        font-size: 0.875rem;
        padding: 0.35rem 0.9rem;
        background: var(--color);
        text-shadow: 0 0 1px rgb(0 0 0 / 40%);
        border-radius: 100px;
        color: white;

        svg {
          width: 1rem;
          height: 1rem;
        }
      }

      .jdl-colors__item__contents {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: inherit;
        padding-left: calc(2rem + 2px);

        &::before {
          content: "";
          position: absolute;
          top: 0.2rem;
          left: 1rem;
          bottom: 0.2rem;
          background: var(--color);
          border-radius: 100px;
          width: 2px;
          opacity: 0.2;
        }

        .jdl-colors__item__contents__description {
          @include mixins.base-text;
          color: var(--text-color-secondary);
          margin: 0;
        }

        .jdl-colors__item__contents__line {
          display: flex;
          align-items: center;
          justify-content: start;
          font-family: var(--font-family-mono);
          color: var(--text-color-secondary);
          opacity: 0.85;

          .jenkins-button {
            margin-block: -0.66rem;
            margin-inline-start: 0.33rem;
          }
        }
      }
    }
  }
}
