@use "../abstracts/mixins";

.jdl-colors-tag {
  background-image: -webkit-linear-gradient(
    45deg,
    var(--red, red),
    var(--orange, orange),
    var(--yellow, yellow),
    var(--green, green),
    var(--blue, blue),
    var(--violet, violet),
    var(--red, red)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-jdl-colors-tag-color 20s linear infinite;
  background-size: 400% 100%;
}

@keyframes animate-jdl-colors-tag-color {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 400% 0;
  }
}

.jdl-colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--jdl-spacing);
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 970px) {
    grid-template-columns: 1fr;
  }

  & > li {
    .jdl-colors__item {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: calc(var(--jdl-spacing) * 0.5);

      .jdl-colors__item__title {
        @include mixins.base-text;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: var(--font-bold-weight);
        margin: 0;
        padding: 0 1rem;
        min-height: 2.25rem;
        background: var(--color);
        border-radius: 100px;
        border: var(--jenkins-border--subtle);
        color: var(--background);

        svg {
          width: 1.125rem;
          height: 1.125rem;
        }

        &--light {
          color: oklch(from var(--color) 0.2 c h);
        }

        &--dark {
          color: oklch(from var(--color) 1.5 c h);
        }
      }

      .jdl-colors__item__contents {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: inherit;
        padding-left: 1rem;

        .jdl-colors__item__contents__description {
          @include mixins.base-text;
          margin: 0;
        }

        .jdl-colors__item__contents__line {
          display: flex;
          align-items: center;
          justify-content: start;
          font-family: var(--font-family-mono);
          color: var(--text-color-secondary);
          gap: 1.5rem;

          .jenkins-button {
            --button-background: transparent !important;
            --button-background--hover: transparent !important;
            --button-background--active: transparent !important;
            --button-box-shadow--focus: transparent !important;
            --text-color: var(--text-color-secondary);

            min-height: 0;
            padding: 0.5rem;
            margin: -0.5rem;

            &::before {
              border: none;
            }

            .jenkins-copy-button__icon {
              scale: 0.9;
            }
          }
        }
      }
    }
  }
}
