.jdl-bem-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  margin-bottom: var(--jdl-spacing);
  font-size: 0.9375rem;
  gap: 1.5rem;
  font-weight: 450;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    dt {
      font-weight: 550;
    }

    dd {
      margin: 0;
      color: var(--text-color-secondary);
    }
  }
}

.jdl-inline-code {
  color: var(--text-color-secondary);
}

.jdl-\!-bem-block-color {
  color: var(--green) !important;
}

.jdl-\!-bem-element-color {
  color: var(--orange) !important;
}

.jdl-\!-bem-modifier-color {
  color: var(--red) !important;
}
