@use "../abstracts/mixins";

@mixin aurora-background {
  background-attachment: fixed;
  background-color: var(--light-pink);
  background-image: var(--aurora);
  opacity: 0.3;

  @media (prefers-reduced-motion: no-preference) {
    animation: aurora-one 10s linear infinite;
  }
}

.app-home__side-by-side {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--jdl-spacing);
  overflow: hidden;

  @media (max-width: 970px) {
    display: flex;
    flex-direction: column;
  }
}

.app-card__container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--text-color) !important;
  text-decoration: none !important;
  gap: 0.75rem;

  &--large {
    .app-card__title {
      font-size: 1.125rem;
      margin-top: 0.25rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    aspect-ratio: 16 / 7;
    border: var(--jdl-border-translucent);
    border-radius: 1rem;
  }
}

.app-card__container:link:hover .app-card__preview {
  filter: brightness(1.2);
}

.app-card__container:link:hover .app-card__title span:first-of-type {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.app-card__preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 7;
  overflow: hidden;
  transition: var(--standard-transition);
  border-radius: 1rem;
  z-index: 0;

  svg {
    width: 40%;
    height: 40%;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 45%;
    max-height: max(45%, 80px);
  }
}

.app-card__preview__introduction {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 100%;
    margin: -10%;
    aspect-ratio: 1;
    backdrop-filter: invert(2%) blur(100px);
    mask-image: repeating-conic-gradient(
      from 90deg,
      var(--background) 0deg,
      transparent 20deg
    );
    z-index: -1;
    opacity: 0.85;
    flex: 1;
    @media (prefers-reduced-motion: no-preference) {
      animation: sunburst-rotation 100s infinite linear;
    }
  }
}

@keyframes sunburst-rotation {
  to {
    transform: rotate(360deg);
  }
}

.app-card__preview {
  &::before {
    @include aurora-background();

    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

@keyframes aurora-one {
  50% {
    filter: hue-rotate(180deg);
  }
}

.app-card__title {
  @include mixins.base-text;
  display: inline-flex;
  font-size: 1rem;
  align-items: center;
  font-weight: var(--font-bold-weight);
  gap: 1.125rem;
  margin: 0;
  text-box: cap alphabetic;
}

.app-card__new-tag {
  @include mixins.base-text;
  position: relative;
  margin: 0;
  font-size: 0.75rem;
  font-weight: var(--font-bold-weight);
  z-index: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: -1px -8px;
    border-radius: 100px;
    z-index: -1;
  }

  &::before {
    @include aurora-background();
  }

  &::after {
    border: var(--jdl-border-translucent);
  }
}

.app-card__description {
  @include mixins.base-text;
  font-size: 1rem;
  margin: 0;
  color: var(--text-color-secondary);
  text-box: cap alphabetic;
}
