@use "../abstracts/mixins";

.app-home__side-by-side {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--jdl-spacing);
  overflow: hidden;

  @media (max-width: 970px) {
    display: flex;
    flex-direction: column;
  }
}

.app-card__container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--text-color) !important;
  text-decoration: none !important;
  gap: 0.15rem;

  &--large {
    gap: var(--jdl-spacing);

    .jdl-section__title {
      margin-bottom: calc(var(--jdl-spacing) * -0.75);
    }

    .jdl-section__description {
      font-size: 1rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    aspect-ratio: 16 / 7;
    border: var(--jdl-border-translucent);
    border-radius: 1rem;
  }
}

.app-card__container:link:hover .app-card__preview {
  filter: brightness(1.2);
}

.app-card__container:link:hover .app-card__title span:first-of-type {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.app-card__preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 7;
  overflow: hidden;
  transition: var(--standard-transition);
  border-radius: 1rem;
  z-index: 0;

  svg {
    width: 40%;
    height: 40%;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 45%;
    max-height: max(45%, 80px)
  }
}

.app-card__preview__introduction {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 100%;
    margin: -10%;
    aspect-ratio: 1;
    backdrop-filter: invert(2%) blur(100px);
    mask-image: repeating-conic-gradient(
                    from 90deg,
                    var(--background) 0deg,
                    transparent 20deg
    );
    @media (prefers-reduced-motion: no-preference) {
      animation: sunburst-rotation 100s infinite linear;
    }
    & {
      z-index: -1;
      opacity: 0.4;
      border-radius: 100%;
      flex: 1;
    }
  }
}

@keyframes sunburst-rotation {
  to {
    transform: rotate(360deg);
  }
}

.app-card__preview {
  &::before, &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-attachment: fixed;
    background-size: max(950px, 65vw) 100vh;
    background-repeat: no-repeat;
    --sidebar-width: 340px;
    --content-width: max(950px, 65vw);
    background-position-x: calc(var(--sidebar-width) + ((100vw - (var(--content-width) + var(--sidebar-width))) / 2));
    opacity: 0.25;

    @media (max-width: 970px) {
      --sidebar-width: 0;
      --content-width: 100%;
      background-size: 100%;
    }
  }

  &::before {
    background-image: radial-gradient(
                    at 40% 20%,
                    var(--light-orange) 0,
                    transparent 50%
    ),
    radial-gradient(at 80% 0%, var(--light-cyan) 0, transparent 50%),
    radial-gradient(at 0% 50%, var(--light-pink) 0, transparent 50%),
    radial-gradient(at 80% 50%, var(--light-red) 0, transparent 50%),
    radial-gradient(at 0% 100%, var(--light-yellow) 0, transparent 50%),
    radial-gradient(at 80% 100%, var(--light-purple) 0, transparent 50%),
    radial-gradient(at 0% 0%, var(--light-pink) 0, transparent 50%);
    @media (prefers-reduced-motion: no-preference) {
      animation: aurora-one 5s linear infinite;
    }
  }

  &::after {
    background-image: radial-gradient(
                    at 40% 20%,
                    var(--light-cyan) 0,
                    transparent 50%
    ),
    radial-gradient(at 80% 0%, var(--light-orange) 0, transparent 50%),
    radial-gradient(at 0% 50%, var(--light-blue) 0, transparent 50%),
    radial-gradient(at 80% 50%, var(--light-green) 0, transparent 50%),
    radial-gradient(at 0% 100%, var(--light-red) 0, transparent 50%),
    radial-gradient(at 80% 100%, var(--light-yellow) 0, transparent 50%),
    radial-gradient(at 0% 0%, var(--light-cyan) 0, transparent 50%);
    @media (prefers-reduced-motion: no-preference) {
      animation: aurora-two 8s linear infinite;
    }
  }
}

@keyframes aurora-one {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes aurora-two {
  0% {
    opacity: 0.55;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.55;
  }
}

.app-card__title {
  @include mixins.base-text;
  display: inline-flex;
  font-size: 1rem;
  align-items: center;
  font-weight: 450;
  gap: 1.15rem;
  margin: 0.6rem 0 0;
}

.app-card__new-tag {
  @include mixins.base-text;
  position: relative;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 0;
  color: var(--background);

  &::before {
    content: "";
    position: absolute;
    inset: -1px -8px;
    border-radius: 100px;
    background: var(--text-color);
    z-index: -1;
  }
}

.app-card__description {
  @include mixins.base-text;
  font-size: 1rem;
  margin: 0;
  color: var(--text-color-secondary);
}
