.jdl-javascript-proxy__counter {
  background: color-mix(in srgb, var(--text-color-secondary) 5%, transparent);
  border: var(--jdl-border);
  border-radius: 1rem;
  padding: 0 1.5rem;
  margin: 1rem;
  font-size: 5rem;
  font-weight: 600;
}