@use "../abstracts/symbols";

.jdl-spacing-container {
  display: flex;
  flex-direction: column;
  place-items: center start;
  gap: var(--jdl-spacing);
}

.jdl-spacing-controller {
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  gap: 2px;
  width: 300px;

  div {
    position: relative;
    display: flex;
    background: color-mix(in srgb, var(--text-color-secondary) 2.5%, transparent);
    border: var(--jdl-border);
    border-radius: 4px;
    transition: background var(--standard-transition);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      aspect-ratio: 1;
      background: currentColor;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: symbols.$down;
      mask-size: 45%;
      pointer-events: none;

      @media (prefers-contrast: no-preference) {
        opacity: 0.4;
      }
    }

    select {
      appearance: none;
      background: none;
      border: none;
      outline: none;
      width: 100%;
      font-size: var(--font-size-sm);
      text-align-last: center;
      cursor: pointer;
      padding: 0 20px 0 0;
      height: 2rem;
      font-family: var(--font-family-mono);
    }

    &:first-of-type {
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
    }

    &:last-of-type {
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
    }

    &:hover {
      background: color-mix(in srgb, var(--text-color-secondary) 10%, transparent);
    }
  }
}

.jdl-spacing-box {
  --box-color: var(--purple);

  position: relative;
  border: var(--jdl-border-width) dashed var(--box-color);
  border-radius: 0.66rem;
  transition: var(--elastic-transition);
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: calc(var(--jdl-border-width) * -1);
    border-radius: inherit;
    background: var(--box-color);
    opacity: 0.2;
    z-index: -1;
  }

  &[class$="-0"] p {
    border-radius: 0.66rem;
  }

  p {
    display: flex;
    place-items: center;
    gap: 1rem;
    position: relative;
    margin: 0;
    z-index: 1;
    font-family: var(--font-family-mono);
    transition: var(--elastic-transition);
  }

  &:not(.jdl-spacing-box--padding) {
    --box-color: var(--blue);

    p {
      border: var(--jdl-border-width) dashed var(--box-color);
      border-radius: 0.2rem;
      background: var(--background);
      padding: 1rem;
    }
  }
}
