$padding-color: var(--purple);

.jdl-padding-box {
  position: relative;
  border: 1.5px dashed $padding-color;
  border-radius: 0.66rem;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: $padding-color;
    opacity: 0.2;
    z-index: -1;
  }

  &--5 {
    padding: 5rem;
  }

  p {
    position: relative;
    border: 1.5px dashed $padding-color;
    border-radius: 0.66rem;
    padding: 1rem;
    margin: 0;
    z-index: 1;
    font-family: var(--font-family-mono);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: var(--background);
      z-index: -1;
    }
  }
}
