$delay: 0.1;

.jdl-symbols__masthead {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  aspect-ratio: 3 / 1;
  z-index: 0;

  div {
    display: contents;

    @for $i from 0 through 3 {
      &:nth-of-type(#{$i}) {
        --animation-delay: #{$i * $delay}s;
      }
    }
  }

  svg {
    max-width: min(5vw, 2.5rem);
    max-height: min(5vw, 2.5rem);
    width: min(5vw, 2.5rem);
    opacity: 0.75;
    mix-blend-mode: overlay;
    animation: scale-in-symbol var(--elastic-transition)
      calc(var(--animation-delay) + var(--animation-svg-delay)) both;

    @for $i from 1 through 7 {
      &:nth-of-type(#{$i}) {
        --animation-svg-delay: #{$i * $delay}s;
      }
    }
  }

  div:nth-of-type(2) {
    svg {
      &:nth-of-type(4) {
        max-width: min(6vw, 6rem);
        max-height: min(6vw, 6rem);
        width: min(6vw, 6rem);
        opacity: 1;
        mix-blend-mode: normal;
        animation-name: scale-in-symbol-main;
      }
    }
  }
}

@keyframes scale-in-symbol {
  from {
    transform: scale(0);
    opacity: 0;
    filter: blur(20px) brightness(2);
  }
}

@keyframes scale-in-symbol-main {
  from {
    transform: scale(0) rotate(-20deg);
    opacity: 0;
    filter: blur(40px) brightness(2);
  }
}

.jdl-symbols__symbol {
  width: 2rem;
  height: 2rem;
}

.spin {
  animation: spin 2.5s cubic-bezier(0, 0.68, 0.5, 1.2) infinite;
}

@keyframes spin {
  30%,
  100% {
    transform: rotate(360deg);
  }
}
