@use "abstracts";
@use "components";
@use "pages";

#app-console {
  --card-background: black;
  --text-color-secondary: white;
  background: black;
  color: white;
  overflow: hidden;
  text-wrap: wrap;
}

.jdl-examples {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 700px;
  margin-bottom: var(--section-padding);

  .jenkins-card {
    margin-bottom: 0;
  }
}

.app-details__item {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  margin: 0 0 1rem 0;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.app-linting-card {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding: 2rem;
  pointer-events: none;

  p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
  }

  svg {
    width: 3rem;
    height: 3rem;
    color: var(--success-color);
  }

  .appp {
    font-size: 0.9rem !important;
    color: var(--text-color-secondary);
  }
}